*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
h1 {
font-family: 'Drius', sans-serif;
}
.Button:hover {
  color: #00be00;
}
.Button {
  color: black;
  border-color: black;
  box-shadow: inset #00be00;
  border-width: 20%;
}
body {
  background-image: url('src/assets/images/cool_green.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
